<link rel="stylesheet" href="/css/home.css">

<h1>
    FakeBook / <%= title %>
</h1>

<section id="feed-posts">
    <h3>Posts</h3>
    
    <!-- show posting form only if user is signed in -->
    <% if (locals.user) { %>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Start typing here ..."></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                <li>
                    <p><b>Content : </b> <%= post.content %> </p>
                    <p><b>Created By : </b> <%= post.user.name %> </p>
                    <p><b>Date : </b> <%= post.createdAt.toISOString().substr(0,10) %> </p>
                    <p><b>Time : </b> <%= post.updatedAt.toISOString().substr(11,5) %> </p>
                </li>
                <br>
            <% } %>
        </ul>
        
    </div>
</section>